
.back_button {
    padding-bottom: 5%;
}


.delete_form {
    text-align: right;
    padding-bottom: 5%;
}


.delete_button {
    color: #ffffff;
    background-color: #d91200;
    border-color: #d91200;
    font-weight: bold;
}


.form_container {
    border-style: solid;
    border-color: #e3e3e3;
    border-width: thin;
    padding: 2%;
}

.form {
    width: 100%;
    margin-bottom: 2%;
}


.file_area {
    margin-top: 5%;
}


.column_centered {
    text-align: center;
}


.file_upload {
    margin-bottom: 2%;
}


.item_column {
    background-color: #e3e3e3;
    border-style: solid;
    border-color: #fafafa;
    border-width: thin;
    padding: 2%;
}


.item_column_text {
    margin-bottom: 0;
    margin-top: 0;
}


.photo {
    width: 30%;
}